.form__wrapper {
  .wrapper-mob();
}

.form__description {
  font-size: 13px;
  line-height: 24px;
  color: @col-grey;
}

.form__title {
  .form-title();
}

.form__type-label,
.form__color-label,
.form__name-label {
  .form-label();
}

.form__text-inp::placeholder,
.form__textarea::placeholder {
  .form-placeholder();
}

.form__text-inp--mail::placeholder {
  text-transform: uppercase;
}

.form__note {
  font-size: 14px;
  line-height: 16px;
  color: @col-grey;
}

.form__button {
  text-transform: uppercase;
}
