.modal-cart__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.modal-cart__pre-size {
  font-size: 15px;
  line-height: 30px;
  color: @col-grey;
  text-align: center;
}

.modal-cart__size-item {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: @col-grey;

  border: 2px solid #ececec;

  &--active {
    border-color: @col-turquoise;
  }
}

.modal-cart__button {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: #ffffff;

  background-color: @col-turquoise;
  border: none;
}
