.week-product__wrapper {
  .wrapper-mob();
}

.week-product__title {
  .title();
}

.week-product__attention {
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
}

.week-product__description {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.week-product__table {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.week-product__cost {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #444444;

  text-align: center;

  display: block;
}
