.title() {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.item-title() {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.form-title() {
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: @col-turquoise;

  text-transform: uppercase;
}

.form-label() {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.form-placeholder() {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: @col-grey;
  opacity: 0.3;
}

.wrapper-mob() {
  margin: 0 auto;
  // width: 260px;
  padding: 0 30px;
}

.wrapper-tab() {
  margin: 0 auto;
  // width: 668px;
  padding: 0 50px;
}

.wrapper-desk() {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1250px;
  // width: 1050px;
}
